import { HTMLAttributes } from "react"

export type Props = HTMLAttributes<HTMLDivElement> & {
  // Placeholder
}

export default function {{pascalCase name}}({ ...htmlProps }: Props) {
  return <div {...htmlProps}>{{pascalCase name}}</div>
}

